<head>
	<!-- <%= stylesheet_link_tag "menubar.css" %> -->
</head>
<body>
	<div class="navigationbar">
		<nav>
		  <ul>
		    <li>
		      <a href="/homes/landingpage">Home</a>
		    </li>
		    <li>
		      <a href="/homes/events">Events</a>
		    </li>
		    <li>
		      <a href="/homes/bbul">Bbul</a>
		    </li>
		  </ul>
		</nav>
	</div>
	<div class="box" id="babybear">
	</div>
	<div class="box" id="transplayer">
		<!-- <img src="LOGO URL" alt="bru" ID="bru"/> -->
		<div class="box" id="formlayer">
			<h3>게시판</h3>
		</div>
	</div>
</body>
